<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <drielen_recently_viewed>
            <general>
                <enabled>1</enabled>
            </general>
        </drielen_recently_viewed>
    </default>
</config>
